<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">Create Drip</a>
                  </div>
                </div>
        </nav>
          <div class="container">
            <div class="row margin">
                <div class="col-md-3"></div>        
                <!-- create a campaign -->
                <div class="col-md-6"> 
                        <a href="{{auth_url}}" class="btn btn-primary btn-block" style="padding: 15px 0;">Login with Google</a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div> 
</body>
</html>


